* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #f4f4f5;
    width: 1600px;
}

.promo {
    height: 750px;
    background: url("assets/images/intro/intro.jpg") center no-repeat;
}

.promo .header {
    width: 1600px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.6), rgba(255,255,255,0));
}

.logo {
    margin-top: 35px;
    margin-left: 175px;
    font-size: 36.03px;
    color: #ECECEC;
}

h1 {
    font-weight: 400;
}

.header_content {
    margin-right: 215px;
    display: flex;
}

.header_main {
    height: 640px;
    padding-top: 110px;
    padding-bottom: 141px;  
}

.header_title1 {
    font-size: 90px;
    margin-left: 327px;
    margin-bottom: -25px;
}

.header_title2 {
    font-size: 90px;
    margin-left: 407px;
    margin-bottom: 15px;
}

.header_img {
    width: 235px;
    margin-left: 685px;
    margin-top: -65px;
    margin-bottom: 10px;
}

.promo_buttons {
	display: flex;
	justify-content: center;
}

.promo_buttons button {
	background-color: rgba(0,0,0,0.5);
    border: 2px solid black;	
	height: 57px;
    width: 228px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.promo_buttons button:hover {
    background-color: rgba(255,255,255,0.5);
    border: 2px solid white;
}

.promo_buttons .second_button {
	margin-left: 30px;
}

nav {
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    
    display: flex;
}

.nav_link {
    color: #F8F6F4;
    text-decoration: none;
    transition: color 0.2s linear;
    margin-right: 50px;
	padding-top: 45px;
}

.nav_link:hover {
    border-top: 3px solid rgba(255, 255, 255, 0.7);
	padding-top: 42px;
}

.header_social {
    margin-left: -55px;
    margin-top: 45px;
    font-size: 21px;
}

.header_link {
    padding-left: 18px;
    color: rgb(218, 179, 62);
    transition: transform .1s linear;
}

.header_link:hover {
    transform: scale(1.2);
}


.about {
    background: url('assets/images/about/bg.jpg') no-repeat center;
    background-size: cover;
    height: 710px;
	display: flex;
}

.about_text {
    margin-top: 93px;
    margin-left: 294px;
    width: 415px;
    height: 500px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: #4c4c4c;
    line-height: 1.5;
}

.about_title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;
    text-align: center;
}

.about_title:after {
    content: url("assets/images/menu/divider.png");
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.about_img {
    margin-top: 50px;
    padding-left: 70px;
}

.about_item {
    margin-top: 55px;
    margin-left: 28px;
}



.ingredients {
    background: url('assets/images/ingredients/bg.png') no-repeat center;
    background-size: cover;
    height: 758px;
	display: flex;
}

.ingredients_text {
    width: 570px;
    height: 557px;
    padding: 73px 81px 0;
    margin-top: 100px;
    margin-left: 815px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.67);
}

.ingredients_title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.ingredients_title:after {
    content: url("assets/images/ingredients/Decoration.png");
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}

.ingredients_imgs {
    margin-top: 65px;
    margin-bottom: 79px;
}

.ingredients_imgs img:first-child {
    margin-left: 0;
}

.ingredients_imgs img {
    margin-left: 30px;
    padding: 0;
}


.menu {
    background-image: url("assets/images/menu/bg.jpg");
	display: flex;
    justify-content: space-between;
	height: 994px;
}

.menu_column {
    width: 455px;
	margin-top: 100px;
	margin-bottom: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first_menu_column {
	margin-left: 270px;
}

.second_menu_column {
    margin-right: 270px;
}

.menu_item_type {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu_item_type_title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;

    text-align: center;
}

.menu_item_type_divider {
	width: 247px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 14px;
	margin-bottom: 4px;
}

.menu_item {
    padding: 11px 10px 10px;
}

.menu_item_special:before {
	content: "Special";
    width: 70px;
    height: 21px;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #f8fafa;
	
	position: absolute;
	margin-top: -22px;	
    margin-left: 374px;
    background-color: rgba(204, 153, 0, .5);
}

.menu_item_special_padding {
	margin-top: 15px;
	margin-bottom: 10px;
}

.menu_item_header {
    display: flex;
    justify-content: space-between;
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    color: #c89f2d;
	padding-bottom: 7px;
    border-bottom: 1px solid rgba(200, 159, 45, .4);
}

.menu_item_special {
    border: 1px solid rgba(200, 159, 45, .4);
	padding: 0px 9px 9px;
}

.menu_item_title {
    font-size: 21px;
    font-weight: 400;
}

.menu_item_text {
	padding-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #4c4c4c;
}


.reviews {
    background-image: url("assets/images/reviews/bg.jpg");
    display: flex;
    justify-content: center;
    height: 758px;
}

.reviews_content {
    padding-top: 76px;
	margin-top: 100px;
    width: 770px;
    height: 557px;
}

.review_back {
    width: 770px;
    height: 557px;
    position: absolute;
	margin-top: -76px;
    background-image: url("assets/images/reviews/content-bg.png");
}

.review_content {
    z-index: 1;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review_content_header {
    text-align: center;
    font-weight: 400;
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;

}

.review_content_divider {
    margin-bottom: 22px;
    margin-top: 15px;
    width: 230px;
}

.review_content_text::before {
    color: rgb(153, 155, 153);
    content: "“";
    font-weight: normal;
    font-family: Georgia, "Georgia Regular", sans-serif;
    font-size: 96px;
    position: absolute;
    left: -41px;
    top: 8px;
}

.review_content_text {
    position: relative;
    width: 632px;
    font-size: 25px;
    line-height: 45px;
    color: #dde0df;
    font-weight: 700;
    font-family: "Gentium Book Basic", sans-serif;
    text-align: center;
}

.review_content_author {
    margin-top: 34px;
    color: #dde0df;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
}


.reservations {
    background-image: url("assets/images/reservations/reservations_bg.png");
    height: 710px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 215px;
}

.reservations_content {
    width: 1100px;
    height: 508px;
    display: flex;
    justify-content: space-between;
}

.reservations_content_images_first {
    margin-right: 26px;
}

.reservations_content_description\&form {
    display: flex;
    flex-direction: column;
    width: 430px;
}

.reservations_content_description {
    display: flex;
    flex-direction: column;
	text-align: center;
}

.reservations_content_description_header {
    width: 432px;
    height: 47px;
    font-size: 36px;
    line-height: 24px;
    color: #cc9900;
    font-family: "Yeseva One", sans-serif;
    padding-top: 7px;
}

.reservations_content_description_divider {
    width: 250px;
    margin-top: 6px;
    margin-bottom: 27px;
	margin-right: auto;
	margin-left: auto;
}

.reservations_content_description_content {
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.content_first_part {
    margin-bottom: 10px;
}

.reservations_content_form {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 14px;
    color: #c9a131;
	font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.reservations_content_form_fields {
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.input_field {
	display: flex;
	flex-direction: column;
}

.reservations_content_form_field {
    width: 200px;
    height: 35px;
    margin-top: 5px;
	outline-style: auto;
    outline-color: rgb(200,198,198);
    font-size: 16px;
    padding-left: 13px;
    padding-top: 4px;
    color: #7c7c7c;
    cursor: pointer;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
}

.reservations_content_form button {
	margin-right: auto;
	margin-left: auto;
    font-size: 16px;
    width: 200px;
    height: 36px;
    color: white;
    border-style: hidden;
	cursor: pointer;
    background-color: rgb(200,161,49);
}



.footer {
    background-image: url("assets/images/footer/bg.png");
    height: 320px;
    padding-left: 215px;
    padding-top: 56px;
}

.footer_content {
    width: 1100px;
    height: 218px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_content_block {
    color: #fefefe;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.footer_content_block_divider {
    width: 200px;
	margin-right: auto;
	margin-left: auto;
    margin-top: 16px;
    margin-bottom: 19px;
}

.footer_content_block_header {
    font-family: "Yeseva One", sans-serif;
    font-size: 21px;
}

.footer_content_block_text {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.about_block {
    width: 370px;
}

.open_block {
	width: 230px;
    margin-left: 115px;
}

.location_block {
	width: 230px;
    margin-left: 200px;
}

.footer_social_contacts {
    display: flex;
    width: 96px;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 52px;
	margin-right: auto;
	margin-left: auto;
}

.footer_social_contacts a {
	text-decoration: none;
	color: #fefefe;
    cursor: pointer;
}

.footer_social_contacts a:hover {
   transform: scale(1.2);
}

.footer_payments {
    display: flex;
    width: 125px;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 53px;
	margin-right: auto;
	margin-left: auto;
}

.footer_payments li {
    cursor: pointer;
}

.footer_payments li:hover {
	transform: scale(1.2);
}






