* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    line-height: 1.6;
    color: #f4f4f5;
    width: 1600px;
}

.intro_block {
    height: 750px;
    background: url("../images/intro/intro.jpg") center no-repeat;
}

.intro_block .header {
    width: 1600px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.6), rgba(255,255,255,0));
}

.logo {
    margin-top: 35px;
    margin-left: 175px;
    font-size: 36.03px;
    color: #ECECEC;
}
h1 {
    font-weight: 400;
}
.header_content {
   
     margin-right: 215px;
    display: flex;
}
.header__main {
    height: 640px;
    padding-top: 110px;
    padding-bottom: 141px;
    
}
.header__title1 {
    font-size: 90px;
    margin-left: 327px;
    margin-bottom: -25px;
}

.header__title2 {
    font-size: 90px;
    margin-left: 407px;
    margin-bottom: 15px;
}

.header__img {
    width: 235px;
    margin-left: 685px;
    margin-top: -65px;
    margin-bottom: 10px;
}

.button_empty, .button_full {
    background-color: rgba(0,0,0,0.5);;
    border: 2px solid black;
}

.button_empty {
    margin-left: 556px;
}

.button_full {
    margin-left: 20px;
}

.button_empty:hover, .button_full:hover {
    background-color: rgba(255,255,255,0.5);;
    border: 2px solid white;
}

button {
    height: 57px;
    width: 228px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

nav {
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    
    display: flex;
    justify-content: space-between;
   
}

.nav__link {
    color: #F8F6F4;
    text-decoration: none;
    transition: color 0.2s linear;
     margin-right: 50px;
    
}

.nav__link:hover {
     border-top: 3px solid rgba(255, 255, 255, 0.7);
    
}

.nav__link:first-child {
    margin-left: 0;
}

nav a {
    margin-top: 45px;
}

.header__social {
    margin-left: -55px;
    margin-top: 45px;
    font-size: 21px;
}

.header__link {
    padding-left: 18px;
    color: rgb(218, 179, 62);
    transition: transform .1s linear;
}

.header__link:first-child {
    margin-left: 0;
}

.header__link:hover {
    transform: scale(1.2);
}

.section--about {
    background: url('../images/about/bg.jpg') no-repeat center;
    background-size: cover;
    height: 710px;
}

.about {
    display: flex;
}

.about__text {
    margin-top: 93px;
    margin-left: 294px;
    width: 415px;
    height: 500px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: #4c4c4c;
    line-height: 1.5;
}

.about__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #cc9900;
    text-align: center;
}

.about__title:after {
    content: url("../images/menu/devider.png");
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.about__img {
    margin-top: 50px;
    padding-left: 70px;
}

.about__dish {
    margin-top: 55px;
    margin-left: 28px;
}



.section--ingredient {
    background: url('../images/ingredients/bg.png') no-repeat center;
    background-size: cover;
    height: 758px;
}
.ingredients {
    display: flex;
}

.ingredients__text {
    width: 570px;
    height: 557px;
    padding: 73px 81px 0;
    margin-top: 100px;
    margin-left: 815px;
    font-family: "Lato", serif;
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.67);
}

.ingredients__title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.ingredients__title:after {
    content: url("../images/ingredients/Decoration.png");
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}

.ingredients__imgs {
    margin-top: 65px;
    margin-bottom: 79px;

}

.ingredients__imgs img {
    margin-left: 30px;
    padding: 0;
}

.ingredients__imgs img:first-child {
    margin-left: 0;
}



